.Table {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 20px;
}

.Table-title {
  padding-bottom: 15px;
}

.Table-layout {
  margin:auto;
  height: 500px;
  width: 1100px;
  margin-top: 100px;
  padding-top: 50px;
  border-radius: 10px;
  color: white;
  background-color: darkgreen;
}

.Table-img {
  height: 200px;
  width: 150px;
}

.Table-btn {
  height: 30px;
  width: 200px;
  margin-top: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: black;
}