.Table {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 20px;
}

.Table-layout {
  margin:auto;
  height: 600px;
  width: 900px;
  margin-top: 100px;
  padding-top: 20px;
  background-color: lightgray;
}

.Table-img {
  height: 200px;
  width: 150px;
}

.Table-btn {
  height: 30px;
  width: 200px;
  margin-top: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: darkblue;
}